.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    border-radius: 12px;
    max-width: 1000px;
    width: 85%;
    max-height: 90vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
    position: relative;

    /* hide scrollbar but allow scroll */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.modal-content::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background: red;
    color: white;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: x-large;
    transition: transform 1.2s ease;
}

.close-btn:hover {
    transform: rotateY(360deg);
}

.modal-image {
    justify-self: center;
    align-content: center;
}

.modal-image img {
    width: 100%;
    max-height: 400px;
    height: 100%;
    border-radius: 12px;
}

.modal-details h2 {
    margin: 0;
}

.pet-about h3,
.health-info h3 {
    margin: 12px 0 0;
}

.pet-about p,
.health-info p {
    margin-top: 6px;
}

.pet-info p {
    margin: 6px 0;
}

.modal-details h2,
.pet-info p,
.adopt-btn {
    display: block;
    justify-self: center;
}

@media screen and (max-width: 585px) {
    .modal-content {
        display: block;
        max-height: 80vh;
        padding: 20px 10px;
    }
}