.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-alert {
    background: white;
    padding: 30px;
    border-radius: 10px;
    justify-items: center;
    min-width: 280px;
    animation: popupSlide 0.4s ease;
}

@keyframes popupSlide {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.popup-alert.success {
    border-left: 4px solid #22c55e;
    border-right: 4px solid #22c55e;
}

.popup-alert.error {
    border-left: 4px solid #ef4444;
    border-right: 4px solid #ef4444;
}

.popup-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 40px;
}

.popup-alert.success .popup-icon {
    background: #22c55e;
}

.popup-alert.error .popup-icon {
    background: #ef4444;
}

.popup-message {
    font-size: large;
    font-weight: bold;
}